<p id="notice"><%= notice %></p>

<p>  
       Source station 
<select name="post[city_id]">
  <option value="">Select City</option>
  <option value="kolhapur">kolhapur</option>
  <option value="Rohatas">Rohatas</option>
  <option value="DehrionSon">DehrionSon</option>
  <option value="SASARAM">SASARAM</option>
  <option value="GAYA">GAYA</option>
  <option value="ARJUNBIGA">ARJUNBIGA</option>
</select>
</p>
<p>  
       Destination 
<select name="post[city_id]">
  <option value="">Select City</option>
  <option value="kolhapur">kolhapur</option>
  <option value="Rohatas">Rohatas</option>
  <option value="DehrionSon">DehrionSon</option>
  <option value="SASARAM">SASARAM</option>
  <option value="GAYA">GAYA</option>
  <option value="ARJUNBIGA">ARJUNBIGA</option>
</select>
</p>
<%= link_to 'Back', stations_path %>
